global
        debug

defaults
        log global
        mode    http
        timeout connect 5000
        timeout client 5000
        timeout server 5000

frontend main
        bind *:80
        default_backend app1
	acl apiurl path_beg /api/express
        use_backend app2 if apiurl

backend app1
        server srv1 app1:80

backend app2
	server srv2 app2:3000
